/* footer sticky */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* carousel height to fit the content */
.carousel {
  height: 1040px !important;
}

/* in plans table, i can click */
#plans tr {
    cursor: pointer;
}