<footer class="page-footer orange">
  <div class="container">

    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Author</h5>
        <p class="white-text">Leonardo Guarnieri de Bastiani</p>
        <ul>
          <li><a class="white-text" href="https://github.com/leobastiani" target="_blank">GitHub</a></li>
          <li><a class="white-text" href="https://www.linkedin.com/in/leonardo-guarnieri-de-bastiani-76154a149/" target="_blank">LinkedIn</a></li>
        </ul>
      </div>

      <div class="col l4 s6">
        <h5 class="white-text">Navigation</h5>
        <ul id="navigation">
          <li><a class="white-text" href="#tab-plans">Plans</a></li>
          <li><a class="white-text" href="#tab-payment">Payment</a></li>
        </ul>
      </div>

      <div class="col l4 s6">
        <h5 class="white-text">Frameworks</h5>
        <ul>
          <li><a class="white-text" href="https://jquery.com" target="_blank">jQuery</a></li>
          <li><a class="white-text" href="http://materializecss.com/" target="_blank">Materialize</a></li>
        </ul>
      </div>

  </div>
</footer>
