<div class="container">
  <h1>Look our plans!</h1>

  <table class="stripped highlight" id="plans">
      <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
      </thead>
        <!-- tr -->
          <!-- td -->
          <!-- td -->
          <!-- td -->
        <!-- /tr -->
      <tbody>
      </tbody>
  </table>
  <br/>
  <br/>
  <h5>Feel free to click on any product.</h5>
  <p>You will be redict to insert a new payment.</p>

</div>